<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynd.common.mapper.AppMapper">

    <!-- 逻辑删除 -->
    <update id="logicalDelete" parameterType="java.lang.Object">
        UPDATE sys_app set del_status = 2, update_by = #{updateBy} WHERE app_id IN
        <foreach collection="ids" item="itemId" separator="," open="(" close=")">
            #{itemId}
        </foreach>
    </update>

    <!-- 应用分页列表查询 -->
    <select id="findPageList" resultType="ynd.common.pojo.vo.AppListVo">
        SELECT
        A.app_id appId,
        A.`name`,
        A.md_id mdId,
        A.icon,
        A.introduce,
        A.sort_by sortBy,
        A.enable_status enableStatus,
        A.del_status delStatus,
        A.create_by createBy,
        A.update_by updateBy,
        A.create_time createTime,
        A.update_time updateTime
        FROM
        sys_app A
        <where>
            A.del_status = 0
            <if test="params != null">
                <if test="params.name != null and params.name != ''">
                    and A.`name` like concat("%",#{params.name},"%")
                </if>
                <if test="params.introduce != null and params.introduce != ''">
                    and A.`introduce` like concat("%",#{params.introduce},"%")
                </if>
            </if>
            <!-- <if test="auth != null">
                <if test="auth.accountType != null and auth.accountType != '' and auth.accountType != 1">
                    and create_by = #{auth.userId}
                </if>
            </if> -->
        </where>
        ORDER BY A.create_time DESC
        LIMIT #{pageIndex},#{pageSize}
    </select>

    <!-- 应用分页列表总数查询 -->
    <select id="findPageListCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM sys_app A
        <where>
            A.del_status = 0
            <if test="params != null">
                <if test="params.name != null and params.name != ''">
                    and A.`name` like concat("%",#{params.name},"%")
                </if>
                <if test="params.introduce != null and params.introduce != ''">
                    and A.`introduce` like concat("%",#{params.introduce},"%")
                </if>
            </if>
            <!-- <if test="auth != null">
                <if test="auth.accountType != null and auth.accountType != '' and auth.accountType != 1">
                    and create_by = #{auth.userId}
                </if>
            </if> -->
        </where>
    </select>

    <!-- 查询权限下应用 -->
    <select id="findAppListByUserId" resultType="ynd.common.pojo.vo.AppListVo">
        SELECT
        A.app_id appId,
        A.`name`,
        A.md_id mdId,
        A.icon,
        A.introduce,
        A.sort_by sortBy,
        A.enable_status enableStatus,
        A.del_status delStatus
        FROM
        sys_app A
        WHERE EXISTS (SELECT app_id FROM sys_user_app UA WHERE A.app_id = UA.app_id AND user_id = #{userId})
        ORDER BY A.sort_by
    </select>

    <!-- 查询所有应用 -->
    <select id="findAllAppListByUserId" resultType="ynd.common.pojo.vo.AppListVo">
        SELECT
        A.app_id appId,
        A.`name`,
        A.md_id mdId,
        A.icon,
        A.introduce,
        A.sort_by sortBy,
        A.enable_status enableStatus,
        A.del_status delStatus
        FROM
        sys_app A
        WHERE
        A.del_status = 0
    </select>

</mapper>
