<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynd.common.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ynd.common.entity.MenuEntity">
        <id column="menu_id" property="menuId"/>
        <result column="parent_id" property="parentId"/>
        <result column="icon" property="icon"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="power_sign" property="powerSign"/>
        <result column="type" property="type"/>
        <result column="sort_by" property="sortBy"/>
        <result column="app_id" property="appId"/>
        <result column="del_status" property="delStatus"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        menu_id
        , parent_id, icon, `name`, url, power_sign, `type`, sort_by, app_id, del_status, create_by, update_by,
        create_time, update_time
    </sql>

    <update id="logicalDelete" parameterType="java.lang.Object">
        UPDATE sys_menu set del_status = 1, update_by = #{updateBy} WHERE menu_id IN
        <foreach collection="ids" item="itemId" separator="," open="(" close=")">
            #{itemId}
        </foreach>
    </update>

    <!-- 分页列表总数查询 -->
    <select id="selectMenuList" resultType="ynd.common.pojo.vo.MenuListVo">
        SELECT
            M.menu_id menuId,
            M.parent_id parentId,
            M.icon,
            M.name,
            M.url,
            M.power_sign powerSign,
            M.type type,
            M.sort_by sortBy,
            M.app_id appId,
            M.del_status delStatus,
            M.create_by createBy,
            M.update_by updateBy,
            M.create_time createTime,
            M.update_time updateTime
        FROM
        sys_menu M
        <where>
            M.del_status = 0
            <if test="menus != null and menus.size != 0">
                AND M.menu_id in
                <foreach collection="menus" item="menuId" index="index" open="(" separator="," close=")">#{menuId}
                </foreach>
            </if>
        </where>
        ORDER BY sort_by
    </select>

    <!-- 根据appId 查询出角色列表 id -->
    <select id="selectRoleIdsByAppId" resultType="java.lang.Long">
        SELECT role_id roleId FROM sys_user_role WHERE app_id = #{appId} AND user_id = #{userId}
    </select>

    <!-- 根据角色id查询授权的菜单id列表 -->
    <select id="findMenuIdsByRoleIds" resultType="java.lang.String">
        SELECT DISTINCT menu_id from sys_role_menu WHERE role_id in
        <foreach collection="roleIds" item="ids" index="index" open="(" close=")" separator=",">#{ids}</foreach>
    </select>

    <!-- 根据appId查询菜单列表 -->
    <select id="selectMenuListAll" resultType="ynd.common.pojo.vo.MenuListVo">
        SELECT
        M.menu_id menuId,
        M.parent_id parentId,
        M.icon,
        M.name,
        M.url,
        M.power_sign powerSign,
        M.type type,
        M.sort_by sortBy,
        M.app_id appId,
        M.del_status delStatus,
        M.create_by createBy,
        M.update_by updateBy,
        M.create_time createTime,
        M.update_time updateTime
        FROM
        sys_menu M
        <where>
            M.del_status = 0
            <if test="appId != null and appId != ''">
                AND M.app_id = #{appId}
            </if>
        </where>
        ORDER BY sort_by
    </select>

</mapper>
