<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynd.common.mapper.WebsiteStatedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ynd.common.entity.WebsiteStatedEntity">
        <id column="state_id" property="stateId"/>
        <result column="app_id" property="appId"/>
        <result column="state_type" property="stateType"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="del_status" property="delStatus"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        state_id, app_id, state_type, title, content, del_status, create_by, update_by, create_time, update_time
    </sql>

    <update id="logicalDelete" parameterType="java.lang.Object">
        UPDATE t_website_stated set del_status = 1, update_by = #{updateBy} WHERE state_id IN
        <foreach collection="ids" item="itemId" separator="," open="(" close=")">
            #{itemId}
        </foreach>
    </update>

    <!-- 分页列表查询 -->
    <select id="findWebsiteStatedPageList" resultType="ynd.common.pojo.vo.WebsiteStatedListVo"></select>

    <!-- 分页列表总数查询 -->
    <select id="findWebsiteStatedPageListCount" resultType="java.lang.Integer"></select>
</mapper>
