<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynd.shopping.modular.backend.mapper.CartItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ynd.shopping.modular.backend.entity.CartItemEntity">
        <id column="ct_id" property="ctId"/>
        <result column="quantity" property="quantity"/>
        <result column="cart_id" property="cartId"/>
        <result column="sku_id" property="skuId"/>
        <result column="whether_buy" property="whetherBuy"/>
        <result column="version" property="version"/>
        <result column="del_status" property="delStatus"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ct_id
        , quantity, cart_id, sku_id, whether_buy, version, del_status, create_by, update_by, create_time, update_time
    </sql>

    <update id="logicalDelete" parameterType="java.lang.Object">
        UPDATE t_cart_item set del_status = 1, update_by = #{updateBy} WHERE ct_id IN
        <foreach collection="ids" item="itemId" separator="," open="(" close=")">
            #{itemId}
        </foreach>
    </update>

    <!-- 分页列表查询 -->
    <select id="queryCartItemPageList" resultType="ynd.shopping.modular.backend.pojo.vo.CartItemListVo">
        SELECT
        A.`ct_id` ctId,
        A.`quantity` quantity,
        A.`cart_id` cartId,
        A.`sku_id` skuId,
        A.`whether_buy` whetherBuy,
        A.`version` version,
        A.`del_status` delStatus,
        A.`create_by` createBy,
        A.`update_by` updateBy,
        A.`create_time` createTime,
        A.`update_time` updateTime
        FROM
        t_cart_item A
        <where>
            A.del_status = 0
            <if test="params != null">
            </if>
        </where>
        ORDER BY A.create_time DESC
        LIMIT #{pageIndex},#{pageSize}
    </select>

    <!-- 分页列表总数查询 -->
    <select id="queryCartItemPageListCount" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM
        t_cart_item
        <where>
            del_status = 0
            <if test="params != null">
            </if>
        </where>
    </select>

</mapper>
